################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/kekiketdoner.github.io/FileContentIndex/7a13853e-5aae-41a2-b39d-b004b93fda07.vsidx
/.vs/kekiketdoner.github.io/FileContentIndex/9f100f80-0e12-4c74-9063-8438bd801ed5.vsidx
/.vs/kekiketdoner.github.io/FileContentIndex/fae2825e-e221-4320-b5fd-9b5eda65ba3f.vsidx
/.vs/kekiketdoner.github.io/FileContentIndex
/.vs/slnx.sqlite
/.vs/kekiketdoner.github.io/v17/DocumentLayout.backup.json
/.vs/kekiketdoner.github.io/v17/DocumentLayout.json
/.vs/kekiketdoner.github.io/v17/.wsuo
